In [2]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import sem

In [145]:
int_csv_path = "player_interceptions.csv"
NFL_Int = pd.read_csv(int_csv_path)
NFL_Int = NFL_Int.groupby(['intposition','playerid','namefirst','namelast'],as_index=False).sum()
NFL_Int = NFL_Int.groupby(['intposition','playerid']).max()
NFL_Int.sort_values(['int','intyards','inttd'],ascending=False)

                     namefirst  namelast  int  intyards  inttd
intposition playerid
CB          20030120    Asante    Samuel   50       655      5
            20030005   Terence    Newman   50       443      4
FS          20160064     Kevin     Byard   44       740      0
S           20020024        Ed      Reed   42      1087      1
CB          20060758     Brent    Grimes   42       760      3
...                        ...       ...  ...       ...    ...
DE          20060020     Tamba      Hali    1        -9      0
DT          20060204    LaJuan    Ramsey    1       -12      0
CB          20180125    Avonte    Maddox    0        16      0
DB          20020159     Andre      Lott    0         0      0
LB          20060035     Roger  McIntosh    0        -4      0

[1702 rows x 5 columns]

In [125]:
NFL_Total_Int = NFL_Int.sort_values(['int'],ascending=False)
NFL_Total_Int

                     namefirst   namelast  int  intyards  inttd
intposition playerid
CB          20030005   Terence     Newman   50       443      4
            20030120    Asante     Samuel   50       655      5
FS          20160064     Kevin      Byard   44       740      0
S           20020024        Ed       Reed   42      1087      1
CB          20060758     Brent     Grimes   42       760      3
...                        ...        ...  ...       ...    ...
DB          20020100     Dante     Wesley    1        10      0
LB          20040532      T.J.  Hollowell    1        22      1
            20060035     Roger   McIntosh    0        -4      0
DB          20020159     Andre       Lott    0         0      0
CB          20180125    Avonte     Maddox    0        16      0

[1702 rows x 5 columns]

In [126]:
NFL_Total_Intyards = NFL_Int.sort_values(['intyards'],ascending=False)
NFL_Total_Intyards

                        namefirst   namelast  int  intyards  inttd
intposition playerid
FS          20100014         Earl     Thomas   36      1109      7
S           20020024           Ed       Reed   42      1087      1
CB          20150018       Marcus     Peters   34      1080      6
            20120039      Janoris    Jenkins   32      1016     14
            20040008     DeAngelo       Hall   41       918      5
...                           ...        ...  ...       ...    ...
            20080025         Mike    Jenkins    3       -12      0
S           20140068       Dezmen  Southward    3       -15      0
LB          20100102       Darryl   Sharpton    3       -18      0
DT          20090062  Sen'Derrick      Marks    3       -18      0
CB          20120589      Leonard    Johnson    3       -18      0

[1702 rows x 5 columns]

In [127]:
NFL_Total_Inttd = NFL_Int.sort_values(['inttd'],ascending=False)
NFL_Total_Inttd

                      namefirst  namelast  int  intyards  inttd
intposition playerid
CB          20120039    Janoris   Jenkins   32      1016     14
            20080020       Aqib     Talib   34       685     13
            20060024  Johnathan    Joseph   29       785     11
            20070170    William       Gay   17       393      9
ILB         20130030       Alec  Ogletree    8       356      8
...                         ...       ...  ...       ...    ...
DB          20180243      Keion   Crossen    2         0      0
            20180154      Siran      Neal    2         0      0
            20180109       Troy      Apke    2        66      0
            20180093     Ronnie  Harrison    4       132      0
WR          20130076     Keenan     Allen    4       128      0

[1702 rows x 5 columns]

In [170]:
sacks_csv_path= "player_sacks.csv"
NFL_Sacks = pd.read_csv(sacks_csv_path)

,playerid,namefirst,namelast,sackposition,sacktype,sackyards,sackend,sackcount
0,20010230,Ross,Kolodziej,DE,1.0,-8,in bounds,25964
1,19940004,Willie,McGinest,LB,1.0,0,in bounds,25964
2,19940145,Rodney,Harrison,S,1.0,-6,in bounds,25964
3,19940004,Willie,McGinest,LB,1.0,-9,in bounds,25964
4,19940145,Rodney,Harrison,S,1.0,-15,in bounds,25964
...,...,...,...,...,...,...,...,...
25959,20130049,Johnathan,Hankins,DT,0.5,-9,in bounds,25964
25960,20190007,Josh,Allen,DE,0.5,-2,in bounds,25964
25961,20140108,Cassius,Marsh,LB,0.5,-8,in bounds,25964
25962,20160160,Kentrell,Brothers,LB,0.5,-6,in bounds,25964
25963,20150006,Leonard,Williams,DE,0.5,-10,in bounds,25964

In [ ]:
NFL_Sacks = NFL_Sacks.groupby(['sackposition','playerid','namefirst','namelast','sacktype','sackend']).sum()
NFL_Sacks = NFL_Sacks.reset_index()
NFL_Sacks = NFL_Sacks.groupby(['sackposition','playerid']).max()
NFL_Sacks = NFL_Sacks.sort_values('sackyards')

NFL_Sacks